<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Project - 231283</title>
    <link rel="stylesheet" th:href="@{/css/myStyle.css}" type="text/css">
</head>
<body>

<h2> Martin Svoboda </h2>

<form method='post' action='video'>
    <label for="url"> Video URL</label>
    <input id="url" type='text' name='url'/><br>

    <label for="width"> Video width</label>
    <input id="width" type='text' name='width'/><br>

    <input type='submit' value='Play'/>
</form>

<br>
<br>

<form>
    <button formaction="videocollection">videocollection</button>
</form>


</body>
</html>